.heroSection {
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
        url("/img/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    min-height: 696px;

}

.content {
    padding-top: 260px;
    color: var(--inputs);
}

.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.66667;
    margin-bottom: 16px;
}

.subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    margin-bottom: 40px;
}