.button {
    background-color: var(--button);
    color: var(--white);
    border: none;
    border-radius: 200px;
    padding: 16px 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.25s;
}

.button:hover {
    background-color: var(--button-hover);
}