.loaderWrapper {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 9999;

}

.loaderSpinner {

    border: 4px solid rgba(228, 72, 72, 0.2);
    border-top-color: #E44848;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(228, 72, 72, 0.5);
    animation: spin 0.8s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}