.formWrapper {
    border-radius: 10px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;
}

.subtitle {
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    color: var(--gray);
    margin-bottom: 24px;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;


}

.input,
.textarea {
    width: 100%;
    padding: 18px;
    border-radius: 12px;
    background-color: var(--inputs);
    font-size: 16px;
    border: none
}

.input:focus,
.textarea:focus {
    border: 1px solid var(--button);
    outline: none;
}

.textarea {
    resize: none;
    margin-bottom: 32px;
}

.submitButton {
    width: 166px;
    margin: 0 auto;
}


.dateInput {
    cursor: pointer;
    padding-right: 25px;
}


.dateInput::-webkit-calendar-picker-indicator {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s;
}

.dateInput::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
}